/* html {
  background-color: #E4E9FD;
  background-image: linear-gradient(to bottom right, #A683E3, #E4E9FD);
} */

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#A683E3) , to(#E4E9FD)) fixed;
}

.text{
  text-align: center;
  font-size: 50px;
  font-family: 'Courgette'
}

.img{
  height: 50px;
  width: 50px;
  //border: 5px solid black;
  border-radius: 10px;

}

.ans_img{
  height: 30px;
  width: 30px;
  border-radius: 5px;
}


#message{
  display: none;
}

#refresh{

  display: block;
}

.heading{
  text-align: center;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  color: #03506F;
  margin: auto;
  padding-bottom: 10px;
}

.outside{
  width: 105px;
  height: 107px;
  margin: auto;
}

.wrap{
  margin: 0;
  padding: 10px;
  width: 100px;
}

.each_row{
  position: relative;
  margin: 0;
  width: 85px;
  height: 29px;
}

.display{

  display: inline-block;
  padding: 20px;
  text-align: center;
  margin-left: 460px;

}

.time{
  font-family: 'Montserrat', serif;
  font-size: 30px;
}

.move{
  font-family: 'Montserrat', serif;
  font-size: 30px;
}

.text{
  text-align: center;
}

.container{
  background-color: #f0e4d7; // #51C4D3;
  border-radius: 10px;
  display: flex;
  //margin: auto;
  padding: 10px;
  position: relative;
  width: 290px; //340px;
  flex-wrap: wrap;
  margin-left: 800px;
  //left: 200px;
  //margin: auto;
}
.out_box{
  position: absolute;
  width: 280px;
}



.box_ans{
  display: inline-block;

}
.box{
  margin: 4px;
}

.align_button{
  text-align: center;
}

button {
  background-color: #51C4D3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  position: relative;
  top: 50%;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button1{
  display: none;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*
.list{
  background-color: #CDD0CB;
  width: 300px;
  //background-color: #98DDCA;
  margin-left: 50px;
  float: left;
  position: relative;
  display: inline-block
} */

p{
  font-family: 'Montserrat', serif;
  font-size: 30px;
  text-align: center;
}

ol li {
  font-family: 'Montserrat', serif;
  border-left: 3px  solid #7c9473;
  text-align: center;
  font-size: 20px;
  background: #e8eae6;
  padding: 5px;
  margin-left: 35px;
}
